version: '3.8'

services:
  server:
    build:
      context: ./server
      dockerfile: Dockerfile.dev
    container_name: assessly-server
    ports:
      - "3000:3000"
    volumes:
      - ./server:/app           
      - /app/node_modules        
    env_file:
      - ./server/.env           
    restart: always

  client:
    build:
      context: ./client
      dockerfile: Dockerfile.dev
    container_name: assessly-client
    ports:
      - "5173:5173"
    volumes:
      - ./client:/app
      - /app/node_modules
    stdin_open: true             
    tty: true
    restart: always
